<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/fondo_login_registro.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <div class="row d-flex align-items-center">
                <div class="col-12 separador-vertical altura mt-2">
                    <h1 class="texto-azul text-center">Usuarios <b>Registrados</b></h1>
                    <p class="text-center m-3">Si aún no eres usuario o tienes dificultades para acceder por falta de alguno de los datos solicitados, dispones de opciones posibles para que puedas acceder a nuestra plataforma. Los enlaces los tienes debajo del formulario.</p>
                </div>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar(f)" class="col-12 ml-2 altura">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                        <input [ngModel]="email" name="email" type="email" class="form-control mr-2" placeholder="Correo electrónico" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input ngModel name="password" type="password" class="form-control mr-2" placeholder="Contraseña" aria-label="">
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-primary">
                            <input [(ngModel)]="recuerdame" name="recuerdame" type="checkbox" id="checkbox-signup">
                            <label for="checkbox-signup">Recuérdame</label>
                        </div>
                    </div>
                    <div class="mr-1">
                        <button type="submit" class="btn btn-outline-primary btn-block btn-masqueplus">Iniciar Sesion</button>
                        <button type="button" id="btnGoogle" class="btn btn-outline-danger btn-block"> <i class="fa fa-google-plus"></i> Ingresar con Google</button>
                    </div>
                    <div class="form-group m-b-0 mt-1">
                        <div class="col-sm-12">
                            ¿No tienes cuenta? <a href="#/registro" class="text-primary"><b>Regístrate</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
