<div class="row d-flex align-items-center h-100">
    <div class="col p-3 separador-vertical altura">
        <h1 class="texto-azul text-center"><b>Recuperar</b> Usuario</h1>
        <p class="justify">Si has olvidado su contraseña, introduce tu dirección de correo y te enviaremos un mensaje desde el que podrás crear una contraseña nueva.</p>
    </div>
    <form class="col p-5 altura">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-mobile"></i></label>
            </div>
            <select class="form-control" id="inputGroupSelect01">
              <option selected="">Seleccione...</option>
              <option value="1">Móvil</option>
              <option value="2">Correo Electronico</option>
          </select>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary btn-block btn-masqueplus">Recuperar</button>
        </div>
    </form>
</div>