<div class="pb-5"></div>

<footer class="footer fixed-bottom color-cabecera-footer navbar-border">
  <p class="clearfix white lighten-2 text-sm-center mb-0 px-2">
    <span class="float-md-left d-block d-md-inline-block">Versión 1.2</span>
    <a class="float-md-center text-bold-800 white darken-2" href="./" target="_blank">Grupo másqueplus © 2019 </a>
    <a class="float-md-right d-block d-md-inline-block d-none d-lg-block items-list"><i class="fa fa-balance-scale"></i> Legal</a>
  </p>
</footer>
